
body
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;

    background-image: url('/imagenes/LiderB.png');
    background-size: cover;
    background-position: top;
    background-color:#23434d;
}

div
{
    margin: -8px;
    padding: 20px;
}

p
{
    line-height: 1.5;
    justify-content: center;
    align-items: center;
}



div.index
{
    background-color: #242222;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
div.index .content
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.index a
{
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.5s ease;
}
.index a:hover
{
    color: #23434d;
}
.index a:active
{
    text-decoration: underline;
}



div.title_creditos
{
    text-justify: center;
    text-align: center;

    justify-content: center;
    align-items: center;

    background-image: url('letrero2.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

div.nombres_matriculas
{
    text-align: center;    
}


div.copy
{
    background-color: #242222;
    opacity: 0.9;
    text-align: center;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}
