
body
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;

    background-image: url('light_forest.png');
    background-size: cover;
    background-position: center;
}

div
{
    margin: -8px;
    padding: 20px;
}

p
{
    line-height: 1.5;
    justify-content: center;
    align-items: center;
}



div.title_Titulo
{
    text-align: center;
    background-color: #23434d;
}



div.index
{
    background-color: #242222;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

div.index .content
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.index a
{
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.5s ease;
}
.index a:hover
{
    color: #23434d;
}
.index a:active
{
    text-decoration: underline;
}



.main-image
{
    max-width: 100%;
    border-radius: 10px;
}


div.text_Resumen
{
    margin: 10px;
    opacity: 0.75;
    border-radius: 10px;
    background-color: #171615;
    border-radius: 10px;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



div.index2
{
    background-color: #242222;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
div.index2 .content
{
    display: flex;
    align-items: center;
}
.index2 a
{
    font-size:xx-large;
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.5s ease;
}
.index2 a:hover
{
    color: #23434d;
}
.index2 a:active
{
    text-decoration: underline;
}

